pro:
  stackName:
  KeyName:
  VPCCidr:
  PublicSubnet1:
  PublicSubnet2:
  AmiId:
  DBName:
  DBUser:
  DBPassword:
  AppPassword:
  WhitelistedCIDR:
  ScaleCapacityMin:
  ScaleCapacityMax:
  ScaleCapacityDesired:
dev:
  stackName:
  KeyName:
  VPCCidr:
  PublicSubnet1:
  PublicSubnet2:
  AmiId:
  DBName:
  DBUser:
  DBPassword:
  AppPassword:
  WhitelistedCIDR:
  ScaleCapacityMin:
  ScaleCapacityMax:
  ScaleCapacityDesired:
